body {
  background-color: rgb(211, 214, 31);
}
.section {
  padding: 0, 15px;
}
header {
  border-bottom: 1px, double, black;
}
.container {
  width: 1200px;
  padding: 15px;
  margin: 0 auto;
}
header .container {
  display: flex;
}
.logo {
  font-size: 24px;
  margin: auto 10px;
  padding: 20px 50px;
  border: 1px solid black;
  border-radius: 15px;
}
.title {
  margin: 0 auto;
  text-align: center;
}
.hero {
  background-color: rgb(211, 214, 31);
  background-image: linear-gradient(
      to right,
      rgb(211, 214, 31),
      rgb(211, 214, 31)
    ),
    url(../img/background_1920.jpg);
}
